/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
	border: 1.5px solid black;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 2em 2em 0;
	border-bottom: 1.5px solid black;
	background-image: linear-gradient(
	    180deg, #f6bb73 0%, #f6bb73 30%, #f6bb55 80%, #f6bb55 100%);
}
header h2 {
	font-size: 175%;
	color: black;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header nav {
	float: left;
	padding: 0 3.75%;
}
fieldset {
    margin-bottom: .5em;
    padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-right: 1em;
}
legend {
    color: black;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
    width: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
	border: 2px solid #e4e3dc;
	border-radius: 10px;
    background-color: #f0f3ee;
	width: 110px;
    color: black;
    font-weight: bold;
}
#nav_menu a.current {
	color: black;
}
#nav_menu ul ul {
	width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
/* the styles for the main content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* the styles for the footer */
footer {
	background-image: linear-gradient(
	    180deg, #f6bb55 0%, #f6bb55 30%, #f6bb73 80%, #f6bb73 100%);
	clear: both;
border-top: 1.5px solid black;
}
footer p {
	text-align: center;
	color: black;
	padding: 1em 0;
}
#mobile_menu {
	display: none;
}
@media only screen and (max-width: 648px) {
	header { text-align: center; }
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: gray !important;
	}
}

@media only screen and (max-width: 414px) {
	body { font-size: 90%; }
}
